	/*#heading classes */
.heading,.top, #signin_menu, input, .submit input, .bottom #footNotes, .sectionInfo, .language, .systemInfo,
 .distributorLogo{
		background: #444444;
		color: #ffffff; 
	}

 .footer   {
	border-top-color: #333333;
	border-top-width: 2px; 	
	border-top-style: solid;
 	
 	}
	
 .breadcrumb {
		background: #444444;
		color: #ffffff;
		border-top-color: #333333;
		border-top-width: 1px;
		border-top-style: solid;
	}

input[type=text],input[type=password], textarea {
	background-color: #ffffff; 
	color: #000000;

}

input[type=text]:focus, textarea:focus {
	border-left-color: #333333;
	background-color: #eeeeee; 

}

/*-----------FIM DAS CLASS BÁSICAS----------------*/