body { font-family:"Arial", sans-serif; font-size:12px; color:#000000; }
table.marc, 
td.marc, 
tr.marc, 
th.marc { border:0; font-size:12px; vertical-align:top;}
table.marc  { width:100%; border-collapse:collapse; }
th.marc { text-align:left; color:#660000; }

/* largura todos.pft */
th.narrow { width:10px;}
/* largura autoridades.pft */
th.wide { width:250px; }

/* Links */
a.pftLink:link, 
a.pftLink:visited, 
a.pftLink:hover, 
a.pftLink:active { text-decoration:none;	display:block; color:#660000; }

a.nome:link, 
a.nome:visited, 
a.nome:hover, 
a.nome:active { color:#686868; }

a.pftLink:hover { border-left:2px solid; padding-left:2px; }
a.pftLink:active { text-decoration:underline; color:#BB0000; }
