	/*#heading classes */
.top, #signin_menu, input, .submit input, .bottom #footNotes, .sectionInfo, .language, .systemInfo,
 .distributorLogo, #botoes, div.top{
		background: #3A89AF;
		color: #ffffff; 
	}
#botoes_top, .botoes_top {
		background: #1A6B91;
		color: #ffffff; 
	}	
.toolbar_entry {
	border: solid 1px #cccccc;	
	background-color: #dddddd;
	}
.toolbar_entry:hover {
	border: solid 1px #cccccc;	
	background-color: #F2EFEF;
	}	
	
	
/*#heading classes */
	.heading{
		background: #3A89AF;
		color: #ffffff; 
	}	
th.th_tit {
   color: #ffffff;
	font-size: 13px;	
	border-left: #70B7D8 thin solid;
	padding-top: 0px;
	padding-bottom: 0px;	
	}	
	
	
#botoes:hover, #botoes_top:hover{
		background: #666666;
		color: #ffffff; 
	}
A.defaultButton SPAN {
		background: #888888;
		color: #ffffff;
		border: 1px solid #666666; 
	}	
A.defaultButton:hover SPAN {
		background: #999999;
		color: #ffffff; 
		
	}		

 .footer   {
	border-top-color: #A1BAEA;
	border-top-width: 1px; 	
	border-top-style: solid;
 	
 	}
	
 .breadcrumb {
		background: #1a6b91;
		color: #ffffff;
		border-top-color: #1D4088;
		border-top-width: 1px;
		border-top-style: solid;
	}

input[type=text],input[type=password], textarea {
	background-color: #ffffff; 
	color: #000000;

}

input[type=text]:focus, textarea:focus {
	border-left-color: #333333;
	background-color: #eeeeee;

}

#dataentry:active{
	background-color: #eeeeee;	
	}



/*-----------FIM DAS CLASS BÁSICAS----------------*/