/* #general styles */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body, input, select, textarea {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

A IMG {
	border: 0px;
}

LABEL {
	cursor: pointer;
}

/* #master classes */

/* ABCD ADDED*/

 	/* #defaultButton classes */
A.defaultButton {
		text-decoration: none;
	}

A.defaultButton SPAN {
	font-size: 12px;
	display: inline-block;
	margin:1px;
	text-align: center;
	cursor:pointer;
	border: 0;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 9px;
	text-decoration: none;
	}

A.defaultButton STRONG {
		font-size: 14px;
	}

	/* #menuButton classes */
A.menuButton {
		text-decoration: none;
	
	}

A.menuButton SPAN {
		cursor: pointer;

	}


INPUT.superTextEntry,
TEXTAREA.superTextEntry {
		font-size: 180%;
	}
.alert {

		font-weight: bold;

	}

A.singleButton {
		color: #fff;
		text-decoration: none;
		background: url('images/singleButton_bg.gif') repeat-x top left;
	}

A.singleButton:hover, A.singleButtonSelected {
		background-color: #4e617c;
	}

A.singleButton .sb_lb {
		background: url('images/singleButton_lb.gif') no-repeat top left;
	}

A.singleButton .sb_rb {
		background: url('images/singleButton_rb.gif') no-repeat top right;
	}

	/* #END #defaultButton classes */

/* #specific classes */

	/*#heading classes */
.institutionalInfo H1, .institutionalInfo H2 {
		letter-spacing: 1px;
	}

.institutionalInfo H1 {
		font-size: 25px;
	}

.institutionalInfo H2 {
		font-weight: normal;
		font-size: 100%;
	}

.userInfo, .userInfo A, .language, .language A {
		font-weight: normal;
		font-size: 12px;
		vertical-align: top;

	}

.userInfo A.button_logout {
		background: url('images/button_logout.gif') no-repeat center right;
		text-decoration: none;
	}

.userInfo A.button_logout:hover SPAN {
		text-decoration: underline;

	}
	/* #END #heading classes */

	/*#sectionInfo classes */
.breadcrumb {
		font-size: 110%;  /*cambiado */
	}

.breadcrumb H3 {
		font-size: 190%;
	}

.breadcrumb SUP {
		font-size: 45%;
	}

.actions, .actions A {
		text-decoration: none;

}		

	/*#END #sectionInfo classes */

	/*#footer classes  */

.systemInfo STRONG {
		font-size: 110%;
	}

/*#END #footer classes */

/*#homepage classes */

	.homepage .mainBox .boxContent .sectionTitle H4 {
		font-size: 100%;
		font-weight: normal;
	}

.homepage .mainBox .boxContent .sectionTitle H4 STRONG {
		font-size: 210%;
		font-weight: normal;
	}

.homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
		border: 0px none;
	}
.stInput {
	font-size: 120%;
	
	}

	/*#END #homepage classes */

.searchBox INPUT.submit {
		border: 0px none;
	}

.searchBox INPUT.submitAdvanced {
		border: 0px none;
	}


.statTable {
		border-collapse: collapse;
		border-spacing: 0px;
	}

.statTable TH {
		cursor: pointer;

	}


.listTable {
		border-collapse: collapse;
		border-spacing: 0px;
	}


.listTable TH {
		cursor: pointer;

	}

.listTable TH.checkboxes,
.listTable TH.action {
		cursor: default;
	}

.listTable TH.desc {
		background-repeat: no-repeat;
		background-position:  right center;

	}

.listTable TH.asc {
		background-repeat: no-repeat;
		background-position:  right center;
	}


.listTable .tButton {
		text-decoration: none;
	}

	/*#END #list classes */

	/*#form classes */

td{
		font-family:arial;
		font-size:12px;
	}

.formHead H4 {
		font-size: 160%;
	}
h4 {

		font-size:160%;
	}
	/*#END #form classes */


TD.showSTitle .singleLoading {
		font-size: 90%;
	}

TD.showSTitle .collectionInfo {

		font-size: 90%;
	}

TD.showSTitle .collectionMode A:hover {

		text-decoration: underline;
	}

TD.showSTitle .collectionMode A.selected {

		text-decoration: none;
		font-weight: bold;
	}

	TD.showSTitle .collectionMode A.selected:hover {
		text-decoration: none;
	}


	/* #END #colection Title loading */

	/* #Login */

	.login .loginForm .submitRow A.defaultButton SPAN {

		font-size: 120%;
	}


	/* #END Login */
	

.toggler {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 0px;
	}

/* Styles do dibujarhojadeentrada.php */

 #tag {
	padding:7px;
	border: 1px solid #DDDDDD;
	display: inline-block;
	margin:1px;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: 0 1px 1px #FFFFFF;
	-moz-box-shadow:    0 1px 1px #FFFFFF;
	box-shadow:         0 1px 1px #FFFFFF;
	font: 9px Sans-Serif;
	white-space: nowrap;
	text-align: center
	vertical-align: middle;
	color: #666666;
	background: -webkit-linear-gradient(top, #cccccc, #E0E0E0);
	background:    -moz-linear-gradient(top, #cccccc, #E0E0E0);
	background:     -ms-linear-gradient(top, #cccccc, #E0E0E0);
	background:      -o-linear-gradient(top, #cccccc, #E0E0E0);
	text-decoration: none;
}

#ajuda, #assist, #indice {
	width:27px;
	height:27px;
	border: 1px solid #DDDDDD;
	display: inline-block;
	margin:1px;
	text-align: center;
	cursor:pointer;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: 0 1px 1px #FFFFFF;
	-moz-box-shadow:    0 1px 1px #FFFFFF;
	box-shadow:         0 1px 1px #FFFFFF;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666666;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
}

#ajuda:hover,  #assist:hover, #indice:hover {
	width:27px;
	height:27px;
	border: 1px solid #AAAAAA;
	border-color: #999999;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #FFFFFF;
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #FFFFFF;
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #FFFFFF;
	cursor: pointer;
}	
#ajuda:focus,  #assist:focus, #indice:focus {
	width:27px;
	height:27px;
	border: 1px solid #AAAAAA;
	border-bottom-color: #CCCCCC;
	border-top-color: #999999;
	-webkit-box-shadow: inset 0 1px 2px #AAAAAA;
	-moz-box-shadow:    inset 0 1px 2px #AAAAAA;
	box-shadow:         inset 0 1px 2px #AAAAAA;
	background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
	background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
	background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
	background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
	cursor: pointer;
}
#botoes {
	display: inline-block;
	margin:1px;
	text-align: center;
	cursor:pointer;
	border: 0;
	font-size: 120%;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 9px;
	text-decoration: none;
}

#botoes_top {
	display: inline-block;
	margin:1px;
	text-align: center;
	cursor:pointer;
	border: 0;
	font-size: 110%;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 5px;
	text-decoration: none;
}

/*tooltip da administração */
a:hover {
	text-decoration:none;
} 
	/* background-color e necessario para o IE6 */



.tag {
	vertical-align:top;
	text-decoration: none;
	width: 15px;
}


.rotuloIng,textbody03 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-left-width: 0px;
	text-decoration: none;


}

.areas1{
	margin-top: 6px;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 95%;
	padding: 5px 5px 5px 5px;  
   border-radius-topright: 7px;
   border-radius-topleft: 7px;
  -moz-border-radius: 7px 7px 0px 0px;
  	-webkit-box-shadow: 0 1px 1px #aaa;
	-moz-box-shadow:    0 1px 1px #aaa;
	box-shadow:         0 2px 2px #aaa;
	text-decoration: none;

		
}
.areas2{
	margin-bottom: 15px;
	text-decoration: none;
	display: inline-block;
	font-family: 'Droid Sans', sans-serif;
	font-size: 9px;
	font-weight: bold;
	height: 15px;
	padding-left: 20px;
	width: 95%;
	-webkit-box-shadow: 0 1px 1px #aaa;
	-moz-box-shadow:    0 1px 1px #aaa;
	box-shadow:         0 2px 2px #aaa;
	text-decoration: none;
   border-radius-bottomright: 7px;
   border-radius-bottomleft: 7px;
   -moz-border-radius: 0px 0px 7px 7px;

}
#rotuloIng {width: 150px;}

textarea #form {	} 

input[type=text],input[type=password], textarea {
	border-width: 1px;
	border-style: solid;
}

input[type=text]:focus, textarea:focus {
	border-width: 1px;
	border-left-width: 5px;
	border-left-style: outset;
	-webkit-box-shadow: inset 1px 1px 1px #ddd;
	-moz-box-shadow: inset 1px 1px 1px #ddd;
	box-shadow: inset 1px 1px 1px #ddd;
}
div #wrapper {
	padding: 0px;
	margin-top: -10px;
	margin-bottom: -20px;
}