body {
	font-family:"Arial", sans-serif;
	font-size:12px;
	color:#000000;
}
table, th, td {
	border: 0;
}
/* Título antes da table */
h3 {
    padding:0;
    margin:0;
	font-size:16px;
	font-weight:bold;
}
div#pft {
	min-height:220px;
	padding-left:5px;
	padding-right:5px;
	overflow:auto;
	line-height:20px;
	text-align:justify;
}
.etiqueta {
	font-weight:bold;
	color:#0178AE;
	width:35px;
	vertical-align:top;
}
.conteudo {
	color:#000;
	vertical-align:top;
}

