	/*#heading classes */
.heading,.top, #signin_menu, input, .submit input, .bottom #footNotes, .sectionInfo, .language, .systemInfo,
 .distributorLogo{
		background: #ffffff;
		color: #003e7e; 
	}
 .footer   {
	border-top-color: #ca0000;
	border-top-width: 2px; 	
	border-top-style: solid;
 	
 	}
	
 .breadcrumb, .breadcrumb H3 {
		background: #8ea1e5;
		color: #ffffff;
		border-top-color: #003e7e;
		border-top-width: 1px;
		border-top-style: solid;
	}

input[type=text],input[type=password], textarea {
	background-color: #ffffff; 
	color: #003e7e;

}

input[type=text]:focus, textarea:focus {
	border-left-color: #003e7e;
	background-color: #eeeeee; 

}

/*-----------FIM DAS CLASS BÁSICAS----------------*/