.defaultButtonText{
	font: 11px Arial;
	cursor:pointer;
}


.buttonTextDisabled {
	color: gray;
	font: 11px Arial;
}

.defaultbutton {
	width: 27px;
	height: 27px;
	background-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
	border-color: #d9d9d9; 
	border-radius: 5px; 

}

.defaultbuttondown {
	width: 27px;
	height: 27px;
	background-color: #cccccc;
	border-width: 2px 1px 2px 1px ;
	border-style: solid;
	border-color: #888  #ccc #f8f8f8  #666; 
	border-radius: 5px; 
}

.defaultbuttonover {
	width: 27px;
	height: 27px;
	background-color: #ffffff;
	border-width: 1px 1px 1px 1px ;
	border-style: solid;
	border-color: #C6C6C6 ; 
	border-radius: 5px; 
	box-shadow: rgba(0,0,0, 0.3) 0px 3px 3px;
	-moz-box-shadow: rgba(0,0,0, 0.3) 0px 3px 3px;
	-webkit-box-shadow: rgba(0,0,0, 0.3) 0px 3px 3px;
}

.icongray {
	border : solid 1px #D4D0C8;
	cursor : default;
	filter : BlendTrans(Percent=50) gray();
}

.toolbardivider {
	background-color : #FFFF00;
	border-left : solid #808080 1px;
	border-right : solid #FFFFFF 1px;
	height : 100%;
	margin-bottom : 2px;
	margin-top : 1px;
	overflow : hidden;
	vertical-align : middle;
	width : 2px;
}

.toolbardividery {
	background-color : #009900;
	border-bottom : solid #FFFFFF 1px;
	border-top : solid #808080 1px;
	height : 2px;
	overflow : hidden;
	width : 100%;
}

.toolbarhandle {
	background-color : #ccc;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	cursor : move;
	height : 100%;
	overflow : hidden;
	width : 3px;
}

.toolbarname{
	color : #43537B;
	font : 11px 'Arial Black',Arial,sans-serif;
	letter-spacing : 3px;
	padding-left : 10px;
	padding-right : 10px;
}

.toolbartable{
	margin : 0px;
	border: none;
	-moz-user-select : none;
	padding : 0px;
	table-layout : fixed;
}

.vtoolbarhandle {
	background-color : #0033FF;
	border-bottom : 1px solid #000000;
	border-left : 1px solid #FFFFFF;
	border-right : 1px solid #000000;
	border-top : 1px solid #FFFFFF;
	cursor : move;
	height : 3px;
}

input 		{BORDER-TOP-COLOR: #000000; BORDER-L????????º??EFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
select 		{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
textarea	{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
text	{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}

checkbox	{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
