.defaultButtonText{
	font: 11px Arial;
	cursor:pointer;
}
.buttonTextDisabled {
	color: gray;
	font: 11px Arial;
}
/* botão normal */
.defaultbutton {
	width:27px;
	height:27px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: 0 1px 1px #FFFFFF;
	-moz-box-shadow:    0 1px 1px #FFFFFF;
	box-shadow:         0 1px 1px #FFFFFF;
	font: bold 11px Sans-Serif;
/*	padding: 6px 10px;*/
	white-space: nowrap;
	vertical-align: middle;
	color: #666666;
	background: transparent;
	cursor: pointer;
}
/* botão pressionado = :active*/
.defaultbuttondown {
	width:27px;
	height:27px;
	border: 1px solid #AAAAAA;
	border-bottom-color: #CCCCCC;
	border-top-color: #999999;
	-webkit-box-shadow: inset 0 1px 2px #AAAAAA;
	-moz-box-shadow:    inset 0 1px 2px #AAAAAA;
	box-shadow:         inset 0 1px 2px #AAAAAA;
	background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
	background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
	background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
	background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
	cursor: pointer;
}
/* mouse passando por cima = :hover*/
.defaultbuttonover {
	width:27px;
	height:27px;
	border: 1px solid #AAAAAA;
	border-color: #999999;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #FFFFFF;
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #FFFFFF;
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #FFFFFF;
	cursor: pointer;
}

.icongray {
	border : solid 1px #D4D0C8;
	cursor : default;
	filter : BlendTrans(Percent=50) gray();
}

.toolbardivider {
	background-color : #FFFF00;
	border-left : solid #808080 1px;
	border-right : solid #FFFFFF 1px;
	height : 100%;
	margin-bottom : 2px;
	margin-top : 1px;
	overflow : hidden;
	vertical-align : middle;
	width : 2px;
}

.toolbardividery {
	background-color : #009900;
	border-bottom : solid #FFFFFF 1px;
	border-top : solid #808080 1px;
	height : 2px;
	overflow : hidden;
	width : 100%;
}

.toolbarhandle {
	background-color : #ccc;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	cursor : move;
	height : 100%;
	overflow : hidden;
	width : 3px;
}

.toolbarname {
	color : #43537B;
	font : 11px 'Arial Black',Arial,sans-serif;
	letter-spacing : 3px;
	padding-left : 10px;
	padding-right : 10px;
}

.toolbartable {
	margin : 0px;
	border: none;
	-moz-user-select : none;
	padding : 0px;
	table-layout : fixed;
}

.vtoolbarhandle {
	background-color : #0033FF;
	border-bottom : 1px solid #000000;
	border-left : 1px solid #FFFFFF;
	border-right : 1px solid #000000;
	border-top : 1px solid #FFFFFF;
	cursor : move;
	height : 3px;
}

input,
select,
textarea,
text,
checkbox {
	border:1px solid #000000;
	font-size: 8pt;
	font-family: Verdana,Helvetica;
}
