	/*#heading classes */
.top, .submit input, .bottom #footNotes, .sectionInfo,  .systemInfo,
 .distributorLogo, #botoes, div.top, #search_int {
		background: #3A89AF;
		color: #ffffff; 
	}
#botoes_top, .botoes_top {
		background: #1A6B91;
		color: #ffffff; 
		border: solid 1px #134A63;	
	}	

.toolbar_entry {
	border: solid 1px #cccccc;	
	background-color: #dddddd;
	}
.toolbar_entry:hover {
	border: solid 1px #cccccc;	
	background-color: #F2EFEF;
	}	
	
	
/*#heading classes */
	.heading  {
		background: #3A89AF;
		color: #ffffff; 
		border-bottom: 1px solid #1D5E7C;
	}	
th.th_tit {
   color: #ffffff;
	font-size: 13px;	
	border-left: #70B7D8 thin solid;
	padding-top: 0px;
	padding-bottom: 0px;	
	}	
input#search_int {
	width:80px;
	height:25px;
	border: 1px solid #DDDDDD;
	display: inline-block;
	margin-top:-3px;
	text-align: center;
	cursor:pointer;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: 0 1px 1px #FFFFFF;
	-moz-box-shadow:    0 1px 1px #FFFFFF;
	box-shadow:         0 1px 1px #FFFFFF;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666666;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	font-weight: bold;
	text-decoration: none;
	
	
	}	
	
#botoes:hover, #botoes_top:hover{
		background: #666666;
		color: #ffffff; 
		
	}

#botoesgo{
	background-color: #5FB529;
	color: #ffffff;	
	}

#botoesgo:hover, #botoes_top:hover{
		background: #666666;
		color: #ffffff; 
		
	}	
	
A.defaultButton SPAN {
		background: #888888;
		color: #ffffff;
		border: 1px solid #666666; 
	}	
A.defaultButton:hover SPAN {
		background: #999999;
		color: #ffffff; 
		
	}		

 .footer   {
	border-top-color: #A1BAEA;
	border-top-width: 1px; 	
	border-top-style: solid;
 	
 	}
	
 .breadcrumb {
		background: #1a6b91;
		color: #ffffff;
		border-top-color: #72A7BF;
		border-top-width: 1px;
		border-top-style: solid;
	}

input[type=text],input[type=password], textarea {
	background-color: #f9f9f9; 
	color: #000000;
	border-color: #cccccc

}

input[type=text]:focus, textarea:focus {
	border-left-color: #3A89AF;
	background-color: #eeeeee;

}

#dataentry:active{
	background-color: #eeeeee;	
	}



/*-----------FIM DAS CLASS BÁSICAS----------------*/

/*---CLASS DE 2012/02/25---*/

table.toolbar {
	color:#282828;
	background-color: #f5f5f5;	
	border-top: 2px #E5E5E5 solid;
	border-bottom: 2px #E5E5E5 solid;
	text-shadow:0px 1px 0 #fff;
	}
input.botoes_search {
	margin-top: -15px;
	width: 45px;
	height:35px;
	padding-left: 1px;
	background-image:url('images/lupa.png');
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;

	}
.styled-select select {
   background: transparent;    	  
   width: 268px;
   padding: 2px;
   font-size: 12px;
	border: 0;  
  /* border: 1px solid #ccc;*/
   height: 27px;
   text-shadow:0px 1px 0 #fff;

}

.styled-select  label {
	padding-left: 3px;
	font-size: 12px;
	color:#000000;
	background: none;	

	}

.styled-select {
	display: inline-block;
   width: 200px;
   height: 27px;
   overflow: hidden;
   background: url(images/listTable_th_desc.gif) no-repeat right #d9d9d9 ;
}	
