	/*#heading classes */
.heading,.top, #signin_menu, input, .submit input, .bottom #footNotes, .sectionInfo, .language, .systemInfo,
 .distributorLogo{
		background: #3684a9;
		color: #ffffff; 
	}
 .footer   {
	border-top-color: #3684a9;
	border-top-width: 2px; 	
	border-top-style: solid;
 	
 	}
	
 .breadcrumb {
		background: #1a6b91;
		color: #ffffff;
		border-top-color: #6cb3d4;
		border-top-width: 1px;
		border-top-style: solid;
	}

input[type=text],input[type=password], textarea {
	background-color: #ffffff; 
	color: #000000

}

input[type=text]:focus, textarea:focus {
	border-left-color: #697096;
	background-color: #eeeeee; 

}

/*-----------FIM DAS CLASS BÁSICAS----------------*/